body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./images/bg.png);
}

.render {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 100px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 30px auto;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

.loading {
  text-align: center;
  color: magenta;
  font-size: 100px;
  margin-top: 50vh;
}

.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn{
  padding: 10px 15px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
}

.btn:hover{
  background-color: cornflowerblue;
  color: white;
  transition: 1s ease;
}

.all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}